<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="location">
            <h2><span jhiTranslate="rockstockApp.location.detail.title">Location</span> {{ location.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="rockstockApp.location.shortName">Short Name</span></dt>
                <dd>
                    <span>{{ location.shortName }}</span>
                </dd>
                <dt><span jhiTranslate="rockstockApp.location.stateProvince">State Province</span></dt>
                <dd>
                    <span>{{ location.stateProvince }}</span>
                </dd>
                <dt><span jhiTranslate="rockstockApp.location.city">City</span></dt>
                <dd>
                    <span>{{ location.city }}</span>
                </dd>
                <dt><span jhiTranslate="rockstockApp.location.mine">Mine</span></dt>
                <dd>
                    <span>{{ location.mine }}</span>
                </dd>
                <dt><span jhiTranslate="rockstockApp.location.xPosition">X Position</span></dt>
                <dd>
                    <span>{{ location.xPosition }}</span>
                </dd>
                <dt><span jhiTranslate="rockstockApp.location.yPosition">Y Position</span></dt>
                <dd>
                    <span>{{ location.yPosition }}</span>
                </dd>
                <dt><span jhiTranslate="rockstockApp.location.country">Country</span></dt>
                <dd>
                    <div *ngIf="location.countryId">
                        <a [routerLink]="['/country', location.countryId, 'view']">{{ location.countryCountryName }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/location', location.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
