<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-location-heading" jhiTranslate="rockstockApp.location.home.createOrEditLabel">Create or edit a Location</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rockstockApp.location.shortName" for="field_shortName">Short Name</label>
                    <input type="text" class="form-control" name="shortName" id="field_shortName"
                           formControlName="shortName"/>
                    <div *ngIf="editForm.get('shortName')!.invalid && (editForm.get('shortName')!.dirty || editForm.get('shortName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('shortName')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rockstockApp.location.stateProvince" for="field_stateProvince">State Province</label>
                    <input type="text" class="form-control" name="stateProvince" id="field_stateProvince"
                           formControlName="stateProvince"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rockstockApp.location.city" for="field_city">City</label>
                    <input type="text" class="form-control" name="city" id="field_city"
                           formControlName="city"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rockstockApp.location.mine" for="field_mine">Mine</label>
                    <input type="text" class="form-control" name="mine" id="field_mine"
                           formControlName="mine"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rockstockApp.location.xPosition" for="field_xPosition">X Position</label>
                    <input type="number" class="form-control" name="xPosition" id="field_xPosition"
                           formControlName="xPosition"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rockstockApp.location.yPosition" for="field_yPosition">Y Position</label>
                    <input type="number" class="form-control" name="yPosition" id="field_yPosition"
                           formControlName="yPosition"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rockstockApp.location.country" for="field_country">Country</label>
                    <select class="form-control" id="field_country" name="country" formControlName="countryId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="countryOption.id" *ngFor="let countryOption of countries; trackBy: trackById">{{ countryOption.countryName }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
