<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="specimen">
            <h2>
                <span jhiTranslate="rockstockApp.specimen.detail.title">Specimen</span>: <span>{{ specimen.code
                    }}</span>
            </h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <div *ngIf="pictures" class="d-block">
                <div style="height: 270px; background: #e4e5e6; padding: 10px; overflow-x: overlay;" class="d-flex">
                    <a *ngFor="let picture of pictures; let last = last" class="mx-2"
                        [routerLink]="['/picture', picture?.id, 'view']"> <img
                        [src]="'data:' + picture.dataContentType + ';base64,' + picture.data" style="max-height: 250px;"
                        alt="picture image" />
                    </a>
                </div>
            </div>

            <h4 class="mt-4 mb-2">
                <span jhiTranslate="global.about">About</span> <span>{{ specimen.code }}</span>
            </h4>

            <hr class="mt-2 mb-2">

            <div class="d-flex">
                <div class="col-7 pl-0">
                    <div class="mt-2">
                        <label jhiTranslate="rockstockApp.specimen.minerals" class="font-weight-bold"
                            style="width: 200px;"> Minerals</label>
                        <span *ngFor="let minerals of specimen.minerals; let last = last"> <a
                            [routerLink]="['/mineral', minerals?.id, 'view']">{{ minerals.dutchName }}</a>{{ last ? '' :
                            ', ' }}
                        </span>
                    </div>
                    <div class="mt-2">
                        <label jhiTranslate="rockstockApp.specimen.location"
                            class="d-inline-block align-top font-weight-bold" style="width: 200px;"> Location</label>
                        <div *ngIf="specimen.locationId" class="d-inline-block">
                            <a [routerLink]="['/location', specimen.locationId, 'view']">{{
                                specimen.locationShortName }}</a>
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <div class="mt-2">
                        <label jhiTranslate="rockstockApp.specimen.status" class="font-weight-bold"
                            style="width: 200px;">Status</label>
                        <span>{{ specimen.statusName }}</span>
                    </div>
                    <div class="mt-2">
                        <label jhiTranslate="rockstockApp.specimen.fluorescent" class="font-weight-bold"
                            style="width: 200px;">Fluorescent</label>
                        <span>{{ specimen.fluorescent }}</span>
                    </div>
                </div>
            </div>
            <div class="mt-2">
                <label jhiTranslate="rockstockApp.specimen.remark" class="font-weight-bold" style="width: 200px;">Remark</label>
                <span>{{ specimen.remark }}</span>
            </div>


            <h4 class="mt-4 mb-2">
                <span jhiTranslate="global.origin">Origin</span>
            </h4>

            <hr class="mt-2 mb-2">

            <div class="d-flex mb-3">
                <div class="col-7 pl-0">
                    <div class="mt-2">
                        <label jhiTranslate="rockstockApp.specimen.acquiredDate" class="font-weight-bold"
                            style="width: 200px;">Acquired Date</label>
                        <span>{{ specimen.acquiredDate | date: 'dd/MM/yyyy'}}</span>
                    </div>
                    <div class="mt-2">
                        <label jhiTranslate="rockstockApp.specimen.acquiredAt" class="font-weight-bold"
                            style="width: 200px;">Acquired At</label>
                        <span>{{ specimen.acquiredAt }}</span>
                    </div>
                    <div class="mt-2">
                        <label jhiTranslate="rockstockApp.specimen.acquiredPrice" class="font-weight-bold"
                            style="width: 200px;">Acquired Price</label>
                        <span>{{ specimen.acquiredPrice }}</span>
                    </div>
                </div>
                <div class="col-5">
                    <div class="mt-2">
                        <label jhiTranslate="rockstockApp.specimen.acquiredBy" class="font-weight-bold"
                            style="width: 200px;">Acquired By</label>
                        <span>{{ specimen.acquiredBy }}</span>
                    </div>
                    <div class="mt-2">
                        <label jhiTranslate="rockstockApp.specimen.acquiredFrom" class="font-weight-bold"
                            style="width: 200px;">Acquired From</label>
                        <span>{{ specimen.acquiredFrom }}</span>
                    </div>
                </div>
            </div>


            <button type="submit" (click)="previousState()" class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>
                &nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button" [routerLink]="['/specimen', specimen.id, 'edit']" class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>
                &nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
