<div>
    <h2 id="page-heading">
        <span jhiTranslate="rockstockApp.specimen.home.title">Specimen</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-specimen" [routerLink]="['/specimen/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="rockstockApp.specimen.home.createLabel">
            Create a new Specimen
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="specimen?.length === 0">
        <span jhiTranslate="rockstockApp.specimen.home.notFound">No specimen found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="specimen?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="code"><span jhiTranslate="rockstockApp.specimen.code">Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="acquiredDate"><span jhiTranslate="rockstockApp.specimen.acquiredDate">Acquired Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="acquiredAt"><span jhiTranslate="rockstockApp.specimen.acquiredAt">Acquired At</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="acquiredPrice"><span jhiTranslate="rockstockApp.specimen.acquiredPrice">Acquired Price</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="acquiredBy"><span jhiTranslate="rockstockApp.specimen.acquiredBy">Acquired By</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="acquiredFrom"><span jhiTranslate="rockstockApp.specimen.acquiredFrom">Acquired From</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="remark"><span jhiTranslate="rockstockApp.specimen.remark">Remark</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fluorescent"><span jhiTranslate="rockstockApp.specimen.fluorescent">Fluorescent</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="statusName"><span jhiTranslate="rockstockApp.specimen.status">Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="locationShortName"><span jhiTranslate="rockstockApp.specimen.location">Location</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let specimen of specimen ;trackBy: trackId">
                    <td><a [routerLink]="['/specimen', specimen.id, 'view']">{{ specimen.id }}</a></td>
                    <td>{{ specimen.code }}</td>
                    <td>{{ specimen.acquiredDate | date:'mediumDate' }}</td>
                    <td>{{ specimen.acquiredAt }}</td>
                    <td>{{ specimen.acquiredPrice }}</td>
                    <td>{{ specimen.acquiredBy }}</td>
                    <td>{{ specimen.acquiredFrom }}</td>
                    <td>{{ specimen.remark }}</td>
                    <td>{{ specimen.fluorescent }}</td>
                    <td>
                        <div *ngIf="specimen.statusId">
                            <a [routerLink]="['/specimen-status', specimen.statusId , 'view']" >{{ specimen.statusName }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="specimen.locationId">
                            <a [routerLink]="['/location', specimen.locationId , 'view']" >{{ specimen.locationShortName }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/specimen', specimen.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/specimen', specimen.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(specimen)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="specimen?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
