<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="picture">

            <jhi-alert-error></jhi-alert-error>

            <div *ngIf="specimen">
                <div>
                    <label jhiTranslate="rockstockApp.specimen.detail.title" class="font-weight-bold"
                        style="width: 150px;"> Specimen</label>
                    <a [routerLink]="['/specimen', specimen?.id, 'view']">{{specimen.code}}</a>
                </div>
                <div>
                    <label jhiTranslate="rockstockApp.specimen.minerals" class="font-weight-bold" style="width: 150px;">
                        Minerals</label>
                    <span *ngFor="let minerals of specimen.minerals; let last = last"> <a
                        [routerLink]="['/mineral', minerals?.id, 'view']">{{ minerals.dutchName }}</a>{{ last ? '' : ',
                        ' }}
                    </span>
                </div>
            </div>

            <div *ngIf="location">
                <label jhiTranslate="rockstockApp.location.detail.title" class="font-weight-bold" style="width: 150px;">
                    Location</label>
                <a [routerLink]="['/location', location?.id, 'view']">{{location.shortName}}
                    ({{location.countryCountryName}})</a>
            </div>

            <hr />

            <div *ngIf="picture.data" class="mb-3">
                <img [src]="'data:' + picture.dataContentType + ';base64,' + picture.data" style="max-width: 100%;"
                    alt="picture image" /><br /> {{ picture.dataContentType }}, {{ byteSize(picture.data) }}
            </div>

            <hr />
 
            <button type="submit" (click)="previousState()" class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>
                &nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button" [routerLink]="['/picture', picture.id, 'edit']" class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>
                &nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>

        </div>
    </div>
</div>
