<div>
    <h2 id="page-heading">
        <span jhiTranslate="rockstockApp.picture.home.title">Pictures</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-picture" [routerLink]="['/picture/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="rockstockApp.picture.home.createLabel">
            Create a new Picture
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="pictures?.length === 0">
        <span jhiTranslate="rockstockApp.picture.home.notFound">No pictures found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="pictures?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="data"><span jhiTranslate="rockstockApp.picture.data">Data</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="rockstockApp.picture.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="specimenCode"><span jhiTranslate="rockstockApp.picture.specimen">Specimen</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="locationShortName"><span jhiTranslate="rockstockApp.picture.location">Location</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let picture of pictures ;trackBy: trackId">
                    <td><a [routerLink]="['/picture', picture.id, 'view']">{{ picture.id }}</a></td>
                    <td>
                        <a *ngIf="picture.data" (click)="openFile(picture.dataContentType, picture.data)">
                            <img [src]="'data:' + picture.dataContentType + ';base64,' + picture.data" style="max-height: 30px;" alt="picture image"/>
                        </a>
                        <span *ngIf="picture.data">{{ picture.dataContentType }}, {{ byteSize(picture.data) }}</span>
                    </td>
                    <td>{{ picture.description }}</td>
                    <td>
                        <div *ngIf="picture.specimenId">
                            <a [routerLink]="['/specimen', picture.specimenId , 'view']" >{{ picture.specimenCode }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="picture.locationId">
                            <a [routerLink]="['/location', picture.locationId , 'view']" >{{ picture.locationShortName }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/picture', picture.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/picture', picture.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(picture)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="pictures?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
