<div>
    <h2 id="page-heading">
        <span jhiTranslate="rockstockApp.mineral.home.title">Minerals</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-mineral" [routerLink]="['/mineral/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="rockstockApp.mineral.home.createLabel">
            Create a new Mineral
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="minerals?.length === 0">
        <span jhiTranslate="rockstockApp.mineral.home.notFound">No minerals found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="minerals?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dutchName"><span jhiTranslate="rockstockApp.mineral.dutchName">Dutch Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="formula"><span jhiTranslate="rockstockApp.mineral.formula">Formula</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="hardnessMin"><span jhiTranslate="rockstockApp.mineral.hardnessMin">Hardness Min</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="hardnessMax"><span jhiTranslate="rockstockApp.mineral.hardnessMax">Hardness Max</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="crystalSystem"><span jhiTranslate="rockstockApp.mineral.crystalSystem">Crystal System</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nickelStruntzLevelFour"><span jhiTranslate="rockstockApp.mineral.nickelStruntzLevelFour">Nickel Struntz Level Four</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="mindatUrl"><span jhiTranslate="rockstockApp.mineral.mindatUrl">Mindat Url</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nickelStrunzLevelThreeName"><span jhiTranslate="rockstockApp.mineral.nickelStrunzLevelThree">Nickel Strunz Level Three</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let mineral of minerals ;trackBy: trackId">
                    <td><a [routerLink]="['/mineral', mineral.id, 'view']">{{ mineral.id }}</a></td>
                    <td>{{ mineral.dutchName }}</td>
                    <td>{{ mineral.formula }}</td>
                    <td>{{ mineral.hardnessMin }}</td>
                    <td>{{ mineral.hardnessMax }}</td>
                    <td>{{ mineral.crystalSystem }}</td>
                    <td>{{ mineral.nickelStruntzLevelFour }}</td>
                    <td>{{ mineral.mindatUrl }}</td>
                    <td>
                        <div *ngIf="mineral.nickelStrunzLevelThreeId">
                            <a [routerLink]="['/nickel-strunz-level-three', mineral.nickelStrunzLevelThreeId , 'view']" >{{ mineral.nickelStrunzLevelThreeName }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/mineral', mineral.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/mineral', mineral.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(mineral)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="minerals?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
