<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mineral">
            <h2>{{ mineral.dutchName }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <div class="d-block">
                <div style="height: 250px; background: #e4e5e6;">Room for pictures...</div>
            </div>

            <h4 class="mt-4 mb-2">
                <span jhiTranslate="global.about">About</span> <span>{{ mineral.dutchName }}</span>
            </h4>

            <hr>

            <div class="mt-2">
                <label jhiTranslate="rockstockApp.mineral.formula" class="font-weight-bold" style="width: 220px;">Formula</label>
                <span>{{ mineral.formula }}</span>
            </div>
            <div class="mt-2">
                <label jhiTranslate="rockstockApp.mineral.hardnessMin" class="font-weight-bold" style="width: 220px;">Hardness</label>
                <span>{{ mineral.hardnessMin }}</span> - <span>{{ mineral.hardnessMax }}</span>
            </div>
            <div class="mt-2">
                <label jhiTranslate="rockstockApp.mineral.crystalSystem" class="font-weight-bold" style="width: 220px;">Crystal
                    System</label>
                <span>{{ mineral.crystalSystem }}</span>
            </div>
            <div class="mt-2">
                <label jhiTranslate="rockstockApp.mineral.nickelStruntzLevelFour"
                    style="width: 220px;" class="d-inline-block align-top font-weight-bold">Nickel Struntz</label>
                <div class="d-inline-block">
                    <label class="d-block">{{ nsCode }}</label>
                    <label class="d-block">{{ nsl1.code}} : {{ nsl1.name}}</label>
                    <label class="d-block">{{ nsl2.code}} : {{ nsl2.name}}</label>
                    <label class="d-block">{{ nsl3.code}} : {{ nsl3.name}}</label>
                </div>
            </div>
            <div class="mt-2">
                <label jhiTranslate="rockstockApp.mineral.mindatUrl" class="font-weight-bold" style="width: 220px;">Mindat
                    Url</label>
                <a [href]="mineral.mindatUrl" target="_blank">{{ mineral.mindatUrl }}</a>
            </div>

            <hr>

            <button type="submit" (click)="previousState()" class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>
                &nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button" [routerLink]="['/mineral', mineral.id, 'edit']" class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>
                &nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
