<div class="row">
	<div class="col-md-3">
		<span class="hipster img-fluid rounded"></span>
	</div>

	<div class="col-md-9">
		<h1 class="display-4">
			<span jhiTranslate="home.title">Welcome, fellow Rockstocker!</span>
		</h1>

		<div [ngSwitch]="isAuthenticated()">
			<div *ngSwitchCase="true" class="row">
				<div class="col-md-6 form-group">
					<jhi-home-summary></jhi-home-summary>
					<div class="">
						<input [(ngModel)]="searchText" type="search" class="form-control"
							id="field_search" placeholder="Search" />
					</div>
					<div class="padding-top" style="height: 50px">
						<button type="button" id="home-search"
							class="btn btn-primary float-right" style="margin-top: 10px;"
							(click)="search()">
							<fa-icon [icon]="'search'"></fa-icon>
							&nbsp;<span jhiTranslate="home.search">Search</span>
						</button>
					</div>
<!-- 					<div *ngIf="searchResults" style="margin-top: 0px;">
						<h3>SearchResults:</h3>
						<ul *ngFor="let result of searchResults" class="searchresults">
							<jhi-searchresult [searchResult]="result"></jhi-searchresult>
						</ul>
					</div>
 -->				</div>
				<div class="col-md-2"></div>
				<div class="col-md-4">
					<div class="alert alert-gray">
						<p class="lead" jhiTranslate="home.manage">Manage your collection:</p>
						<div class="btn-group-vertical">
							<button id="home-create-specimen"
								class="btn btn-secondary create-specimen col-md-12"
								[routerLink]="['/specimen/new']">
								<fa-icon [icon]="'plus'"></fa-icon>
								<span jhiTranslate="rockstockApp.specimen.home.createLabel">
									Create new Specimen </span>
							</button>
							<button id="home-create-mineral"
								class="btn btn-secondary create-mineral col-md-12"
								[routerLink]="['/mineral/new']">
								<fa-icon [icon]="'plus'"></fa-icon>
								<span jhiTranslate="rockstockApp.mineral.home.createLabel">
									Create new Mineral </span>
							</button>
						</div>
					</div>
				</div>
			</div>

			<div *ngSwitchCase="false">
				<p class="lead" jhiTranslate="home.subtitle">This app allows you
					to store and manage your collection of rock/mineral specimen.</p>
			</div>

			<div class="alert alert-warning" *ngSwitchCase="false">
				<span jhiTranslate="global.messages.info.authenticated.prefix">If
					you want to </span> <a class="alert-link" (click)="login()"
					jhiTranslate="global.messages.info.authenticated.link">sign in</a><span
					jhiTranslate="global.messages.info.authenticated.suffix">,
					you can try the default accounts:<br />- Administrator
					(login="admin" and password="admin") <br />- User (login="user"
					and password="user").
				</span>
			</div>

			<div class="alert alert-warning" *ngSwitchCase="false">
				<span jhiTranslate="global.messages.info.register.noaccount">You
					don't have an account yet?</span>&nbsp; <a class="alert-link"
					routerLink="account/register"
					jhiTranslate="global.messages.info.register.link">Register a
					new account</a>
			</div>
		</div>

	</div>