<div>
    <h2 id="page-heading">
        <span jhiTranslate="rockstockApp.nickelStrunzLevelThree.home.title">Nickel Strunz Level Threes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-nickel-strunz-level-three" [routerLink]="['/nickel-strunz-level-three/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="rockstockApp.nickelStrunzLevelThree.home.createLabel">
            Create a new Nickel Strunz Level Three
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="nickelStrunzLevelThrees?.length === 0">
        <span jhiTranslate="rockstockApp.nickelStrunzLevelThree.home.notFound">No nickelStrunzLevelThrees found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="nickelStrunzLevelThrees?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="code"><span jhiTranslate="rockstockApp.nickelStrunzLevelThree.code">Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="rockstockApp.nickelStrunzLevelThree.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="shortName"><span jhiTranslate="rockstockApp.nickelStrunzLevelThree.shortName">Short Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="parentName"><span jhiTranslate="rockstockApp.nickelStrunzLevelThree.parent">Parent</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let nickelStrunzLevelThree of nickelStrunzLevelThrees ;trackBy: trackId">
                    <td><a [routerLink]="['/nickel-strunz-level-three', nickelStrunzLevelThree.id, 'view']">{{ nickelStrunzLevelThree.id }}</a></td>
                    <td>{{ nickelStrunzLevelThree.code }}</td>
                    <td>{{ nickelStrunzLevelThree.name }}</td>
                    <td>{{ nickelStrunzLevelThree.shortName }}</td>
                    <td>
                        <div *ngIf="nickelStrunzLevelThree.parentId">
                            <a [routerLink]="['/nickel-strunz-level-two', nickelStrunzLevelThree.parentId , 'view']" >{{ nickelStrunzLevelThree.parentName }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/nickel-strunz-level-three', nickelStrunzLevelThree.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/nickel-strunz-level-three', nickelStrunzLevelThree.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(nickelStrunzLevelThree)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="nickelStrunzLevelThrees?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
